<app-not-found
[visible]="!promt"
notFoundMessage = "Food Not Found"
resetLinkText="Back To Home"
>
</app-not-found>

<div *ngIf="promt" class="container">
  <img [src]="promt.imageUrl" [alt]="promt.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{promt.name}}
      </span>
      <span class="favorite {{promt.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating
      [value]="promt.stars"
      [totalstars]="5"
      checkedcolor="red"
      uncheckedcolor="black"
      size="25px"
      [readonly]="true">
    </star-rating>
    </div>

    <div class="description">
       {{promt.description}}
    </div>

    <blockquote>{{promt.template}}</blockquote>

    <div class="origins">
      <span *ngFor="let origin of promt.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of promt.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

  <!--   <div class="cook-time">
      <span>
        Time to cook about <strong>{{food.cookTime}}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>
  -->
    <button (click)="addToCart()" >Add To Cart</button>

  </div>
</div>

